@import "../../../scss/variables.scss";
.custome_div{
    background: $offwhite;
    padding-bottom: 10px;
}
.projectrow{
    margin: 0px;
}
.project{   
// font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-style: normal;
letter-spacing: 0.12em !important;
text-align: center;
color:$mainly-blue;
padding-top: 30px;
padding-bottom: 10px;
}
.soft{
    // font-family: 'Roboto';
font-style: normal;
font-size: 5.1rem;
font-weight: 700;
line-height: 63px;
text-align: center;
color:$mainly-blue;
}
.quality{
    // font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 2.2rem;
line-height: 1.5;
letter-spacing: 0;
text-align: center;
color: $mainly-blue;
margin: 10px;
padding-bottom: 30px;
}

.C_images11{
    background-color: $purple;
}
.C_images12{
    background-color: $blue;
    height: 100%;
}
.C_images21{
    background-color: $cyan;
    height: 100%;
}
.C_images22{
    background-color: $pink;
    height: 100%;
}
.C_images3{
    padding: 40px 40px;
    background-color: $gray;
     height: 100%;
   
}
.C_images41{
    background-color: $primary;
    height: 100%;
}
.C_images42{
    background-color: $cyan;
    height: 100%;
}


.parentdiv{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.one{
    height: 240px;
    width:33.33%;
    padding-bottom: 50px;
}
.two{
    height: 240px;
    width:33.33%;
    padding-bottom: 50px;
}
.four{
    height: 240px;
    width:33.33%;
    padding-bottom: 50px;
}

@media(max-width:768px) {
    .cardOuterRow{
        flex-direction: column;
    }
    .one{
        height: 240px;
        width:50%
    }
    .two{
        height: 240px;
        width:50%
    }
    .three{
        height:340px;
        width:50%
    }
    .four{
        height: 240px;
        width:50%
    }
}

.Viewbutton{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: $txt-white;
     width: 32%;
    background: $gray;
    border: none;
    border-radius: 10px $gray;
}
.btnDiv{ 
    text-align:center;
    padding-bottom: 50px;
    padding-top: 40px;
}
.Workus{
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: $primary;
    padding-top: 50px;
}

.Workgraph{
    
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: $txt-sandstone;
}

