@import "../../../scss/variables.scss";

.UserExp{
    margin: 0px;
    justify-content:center; 
}
.mainUserExp{
    margin: 0px;
    justify-content:center;
    padding-bottom: 40px;
}
.mainUserExp1{
    margin: 0px;
    justify-content:center;
}

.mainExprow{
    background-color: $primary; 
}
.UserExp_heading{
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 63px;
    text-align: center;
    padding-top: 40px;
    color: $txt-white;
    margin-bottom: 0px !important;
}
.UserExpParagraph{
    //  font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0;
     color: $txt-white;
     padding: 20px;
     margin-top: 43px;
 }
.UserExppic{
    text-align: center;
   padding-bottom: 20px;
   padding: 30px; 
   margin-top: 10px;
}

.UserExptool{
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 28px;
    text-align: start;
    color: $txt-white;
 margin-left: 15px;
}
.UserExpblock{
    height: 147px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    background-color: $offwhite;
}
// @media screen and (max-width:572px){
//     .UserExpblock{
//         margin: 30px !important;
//     }
// }
.UserExpstatic{
    height: 100px;
    margin-top: 10px;
    text-align: center;
}
.UserExpHeading{
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
}