@import "../../../scss/variables.scss";
.cs{
    margin: 0px;
    justify-content:center; 
}
.mainIptv{
    margin: 0px;
    justify-content:center;
    padding-bottom: 50px;
}
.csmainIptv1{
    margin: 0px;
    justify-content:center;
}

.csmainIptvrow{
    background-color: $gray; 
}
.cs_heading{
    color: $txt-white;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 42px;
    text-align: center;
    padding-top: 50px;
}
.csParagraph{
    //  font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 2rem;
     line-height: 28px;
     text-align: center;
     color: $txt-white;
     padding: 20px;
 }
.Iptvpic{
    text-align: center;
   padding-bottom: 20px;
   padding: 30px;  
}
.Iptvtool{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    text-align: start;
    color: $txt-white;
    margin-left: 15px;
}
.Iptvblock{
    height: 260px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: $offwhite;
}
.Iptvstatic{
    height: 100px;
    margin-top: 10px;
    text-align: center;
}
.IptvHeading{
    // font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
padding-top: 20px;
line-height: 23px;
text-align: center;
color: #000000;
}