@import "../../../scss/variables.scss";

.mainmobile{
    margin: 0px;
    justify-content:center;
    padding-bottom: 30px;
}
.mainmobile1{
    margin: 0px;
    justify-content:space-evenly;
}
.mainmobilerow{
    background-color: $pink; 
}
.mobsvg1{
    margin-top: 30px;
}
.mob_heading{
    color: $offwhite;
    font-style: normal;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 63px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0px !important;
}
.mobparagraph{
    //  font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0;
    text-align: start;
     color: $txt-white;
     padding: 20px;
     margin-top: 43px;
 }
.mobpic{
    text-align: center;
   padding-bottom: 20px;
   padding: 30px; 
}
.mobtool{
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 28px;
    text-align: start;
    color: $txt-white;
     margin-left: 15px;
}
.mobblock{
     height: 147px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    background-color: $offwhite;
}
@media screen and (max-width:572px){
    .mobblock{
        margin: 30px !important;
    }
}
.mobstatic{
    height: 100px;
    margin-top: 10px;
    text-align: center;
}
.mobheading{
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    font-size: 1.6rem;
}